body{
    background-color: rgb(241, 236, 198);
    margin: 0;
    padding: 0;
}

nav{
    font-family: "Sour Gummy", sans-serif;
}

nav ul{
  display: flex;
  height: 65px;
  background-color: black;
  color: white;
  list-style-type: none;
  align-items: center;
  margin: 0;

}

nav ul li{
    padding: 0 0.5rem;
}

.brand{
    display: flex;
    align-items: center;
    padding: 0 2rem 0 0;
    font-weight: bolder;
    font-size: 1.6rem;
}

nav .brand img{
    width: 45px;
    height: 46px;
    padding: 0 0.5rem 0 0;
}

.container{
    font-family: 'Varela Round', sans-serif;
    min-height: 65.6vh;
    color: white;
    background-color: black;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 0 15px;
    font-size: 12px;
    background-image: url(assets/card7img.jpg);
}

.songItem{
  width: 85%;
  height: 40px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  border-radius: 34px;
}

.songItem img{
  width: 35px;
  height: 35px;
  border-radius: 50px;  
  margin: 0 15px;
}

.timestamp{
  margin: 0 22px;
}

.timestamp i{
  cursor: pointer;
}

.songItemPlay{
  font-size: 0.9rem;
  padding: 0 0 0 10px;
}


.footer{
    position: sticky;
    background-color: black;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#myProgressBar{
 width: 80vw;
 margin-top: 1rem;
}

.icons{
    margin: 0.5rem 0;
}

.icons i{
  cursor: pointer;  
  font-size: 30px;
  padding: 0.2rem;
}

.songInfo{
  position: absolute;
  left: 10vw;
  top: 8vh;
}

.songInfo img{
  opacity: 0;
  transition: opacity 0.2s ease-in;
}